{namespace bk2k = Vergissberli n\Template\ViewHelpers}
<f:layout name="Default" />
<f:section name="Main">

    <div class="alert alert-danger"><strong>ERROR:</strong> Content Element type "{data.CType}" has no rendering definition!</div>

</f:section>
<f:section name="Header"></f:section>